.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid black;
}

.left {
  flex: 1;
  margin: 10px 50px;
}

.left > img {
  cursor: pointer;
}

.right {
  flex: 2;
  margin: 0 50px;
}

.right > ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 18px;
  list-style: none;
  color: rgb(6, 155, 31);
}

.right > ul > li {
  cursor: pointer;
}
